INSERT INTO mdl_config_plugins (plugin, name, value) VALUES
('auth_saml2', 'saml2_enable', '1'),
('auth_saml2', 'saml2_issuer', '<issuer>'),
('auth_saml2', 'saml2_loginurl', '<loginurl>'),
('auth_saml2', 'saml2_logouturl', '<logouturl>'),
('auth_saml2', 'saml2_cert', '<cert>'),
('auth_saml2', 'saml2_auto_create_users', '0');
